<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Nobicom Labs Store</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="http://127.0.0.1/bootstrap-3.3.6-dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="http://127.0.0.1/bootstrap-3.3.6-dist/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<style type="text/css">
  .navbar{
margin-top: -25px;
z-index: 200;
  }
</style>
<body>
{% include "navbar_material.html" %}



  <div class="container">
    <div class="row">
{% block content  %}

{% endblock  %}
    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
       
       
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Powered by <a class="orange-text text-lighten-3" href="http://nobicomlabs.com">Nobicom Labs</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="http://127.0.0.1/bootstrap-3.3.6-dist/js/jquery.js"></script>
  <script src="http://127.0.0.1/bootstrap-3.3.6-dist/js/materialize.js"></script>
  <script src="http://127.0.0.1/bootstrap-3.3.6-dist/js/init.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  {% block javascript  %}

      {% endblock  %}
      });
</script>
  </body>
</html>
