  <nav class="light-blue lighten-1 pinned navbar" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">NL Market</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
<!--         <li><a href="/products">Products</a></li>
 -->        <li><a href="">Contact us</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Register</a></li>
        <li><a href="">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Contact us</a></li>
        <li><a href="/account/register/">Register</a></li>
        <li><a href="">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>