{% extends "base_material.html"%}
{% load staticfiles %}

{% block content %}
<br>
<br>
<br>
<div class="row">
{% for product in products %}


	<div class="container">
		<ul>
			<li> </li>
		</ul>
	</div>
	<div class="col s6">
		  <div class="card small">
		    <div class="card-image waves-effect waves-block waves-light">
		    {% for item in product.productimage_set.all %}

		      <img  src="media/{{ item.image }}" alt="{{ product }}">
		    {% endfor %}
		    </div>
    <div class="card-content">
     <span class="card-title activator grey-text text-darken-4">
     {{ product }}<i class="material-icons right">${{ product.price }}</i></span>
      <p class="card-action">
      	 <a href="#" class="waves-effect waves-light btn">Read More....</a>

           <a href="#" class="waves-effect waves-light btn">Request Demo</a>
      </p>

   
    </div> 
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ product }}<i class="material-icons right">close</i></span>
      <p>{{ product.description }}</p>
    </div>
		  </div>
	</div>

{% endfor %}
</div>


{%  endblock %}